body {
    background-color: black;
    color: beige;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

#name {
    border: 1px double red;
    padding: 1px 1px;
    display: block;
}

#Submit {
    background-origin: padding-box;
    background-blend-mode: color-dodge;
    background-color: aqua;
    color: black;
    align-items: center;
}

.box {
    display: inline;
}